<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style.
      html, body {
        width: 100vw;
        height: 100vh;
        background-color: #eeeeee;
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
      figure {
        height: auto;
        margin: auto;
      }
      figure > img{
        width: 30vw;
      }
      figcaption {
        text-align: center;
        text-transform: uppercase;
        color: #2c2c2c;
        font-family: monospace;
        font-size: 4rem;
      }
  body
    figure
      img(src="http://bi.gazeta.pl/im/02/90/10/z17367810V,Maria-Sklodowska-Curie-w-1903-r--Za-najszczesliwsz.jpg", alt="")
      figcaption Hello there